.logo-image {
  height: 55px;
  border-radius: 30px;
  vertical-align: middle;
}

.header-container {
  background-color: #1a51a2;
  color: #fff;
  width: 100%;
}

.header-row {
  padding: 10px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.search-bar {
  width: 100%;
  border-radius: 20px;
  padding: 0px 10px;
}

.search-bar .ant-input {
  background-color: #fff;
  border: none;
  height: 40px;
}

.search-bar .ant-input-prefix {
  color: #003087;
}

.header-actions {
  text-align: right;
}
.user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: #fff 2px solid;
  cursor: pointer;
}

.user-name {
  font-weight: 500;
  color: #333;
}

.icon-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
}
.login-button {
  background-color: #fff;
  border-color: #fff;
  color: #000;
  border-radius: 20px;
  padding: 5px 15px;
}

.hotline-button {
  background-color: #ff6200;
  border-color: #ff6200;
  color: #fff;
  border-radius: 20px;
  padding: 5px 15px;
}

.hotline-button:hover {
  background-color: #e65c00;
  border-color: #e65c00;
}

.nav-row {
  /* background-color: #fff; */
  padding: 10px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-links .ant-btn {
  color: #fff;
  padding: 0;
}

.nav-links .ant-btn:hover {
  color: #00a650;
}

.chat-button {
  color: #ff6200 !important;
}

.chat-button:hover {
  color: #e65c00 !important;
}
.custom-dropdown-menu {
  padding: 12px !important;
  border-radius: 8px;
  width: 400px;
}

.dropdown-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 8px;
}

.category-scroll {
  display: flex;
  overflow-x: auto;
  max-width: 100%; /* Đảm bảo không vượt chiều rộng màn hình */
  white-space: nowrap; /* Ngăn ngắt dòng */
  padding: 4px 0;
  gap: 16px;
  scrollbar-width: thin; /* Firefox */
  -webkit-overflow-scrolling: touch;
}
.category-dropdown-button {
  font-size: 15px;
  text-transform: uppercase;
}
.category-scroll::-webkit-scrollbar {
  height: 8px;
}

.category-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.category-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.category-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.category-scroll-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  max-width: 1050px;
  overflow: hidden;
}

.category-scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none; /* Ẩn scrollbar trên Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.category-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scroll-button {
  background: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
}
